<mat-toolbar color="primary" class="app-navigation-bar">

    <mat-toolbar-row>
  
      <button mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
  
      <span class="toolbar-title"> Particle Tracks </span>

  <!-- This fills the remaining space of the current row -->
    <span class="fill-space"></span>
    <span>logged in?: {{isLoggedIn}}</span>
    <span *ngIf="isLoggedIn">
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Sign out
        </button>
    </span>
    
    <span>Right Aligned Text</span>
  
    </mat-toolbar-row>
  
  </mat-toolbar>
