.warning-card {
    background-color: #F4511E!important;
    color: white !important;
    margin: 0px;
}

.all-is-well-card {
    background-color: #673bb8 !important;
    color: white !important;
    margin: 0px;
}

.warning-icon {
    vertical-align: bottom;
}

.card-top-space {
    margin-top: 20px;
}