//.include-pointer {
//  cursor: pointer;
//}

.signup-card {
    max-width: 400px;
}

.input-formfield {
    width: 100%;
}

.signup-error-message {
    padding-bottom: 20px;
}

.container {
    width: 100%;
    padding: 100px 10px 100px 10px;
}

.have-an-account {
    margin-top: 40px;
}

.error-margin-bottom {
  margin-bottom: 10px;
}

.extra-margin-bottom {
  margin-bottom: 20px;
}