.card-title-container {
    height: 30px;
}

.fill-space {
    flex: 1 1 auto;
}

.negative-top-margin {
    margin-top: -22px;
}

.bottom-sheet-width {
    max-width: 400px;
}

.margin-below-button {
    margin-bottom: 20px;
}