.card-title-container {
    height: 30px;
}

.fill-space {
    flex: 1 1 auto;
}

.negative-top-margin {
    margin-top: -60px;
}

.bottom-sheet-width {
    max-width: 400px;
}

.margin-below-button {
    margin-bottom: 20px;
}

.error-message {
    color: red;
    margin-bottom: 20px;
}

.button-space-left {
    margin-left: 10px;
}

.event-body {
    //margin-left: 20px;
    text-align: center;
    margin-bottom: 16px;
}

.event-body-small-bottom-margin {
    text-align: center;
    margin-bottom: 0px;
}

.extra-margin-bottom-above-divider {
    margin-bottom: 16px;
}

.extra-top-margin {
    margin-top: 20px;
}

.extra-left-right-padding {
    padding-left: 40px;
    padding-right: 40px;
}

.warning-card {
    background-color: #9575CD !important;
    color: white !important;
    margin: 0px;
}

.card-top-space {
    margin-top: 20px;
}

.align-icon {
    vertical-align: bottom;
}


