.reset-password-card {
    width: 400px;
}

.card-title {
    padding-bottom: 20px;
}

.input-formfield {
    width: 100%;
}

.reset-password-error-message {
    padding-bottom: 20px;
}

.container {
    width: 100%;
    padding: 100px 10px 0px 10px;
}

.extra-top-margin {
    margin-top: 20px;
}