.include-pointer {
    cursor: pointer;
    color: #018786;
    //color: #ffd741;
}

.profile-card {
    max-width: 400px;
}

.input-formfield {
    width: 100%;
}

.signup-error-message {
    padding-bottom: 20px;
}

.container {
    width: 100%;
    padding: 100px 10px 100px 10px;
}

.have-an-account {
    margin-top: 40px;
}
