.event-body {
    //margin-left: 20px;
    text-align: center;
    margin-bottom: 16px;
}

.svg-icon {
    vertical-align: top;
    display: inline-block;
    line-height: 20px;
}

.help-dialog-center {
    //margin-left: 50px;
    text-align: center;
}

.negative-top-margin {
    margin-top: -8px;
}

.extra-margin-bottom-above-divider {
    margin-bottom: 16px;
}

.extra-margin-below {
    margin-bottom: 16px;
}

.help-dialog-image-container {
    width: 100%;
    height: 300px;
    text-align: center;
    margin-bottom: 16px;
}

.help-dialog-card-image-container {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 16px;
}

//https://www.tutorialspoint.com/How-to-create-an-unordered-list-without-bullets-in-HTML#:~:text=For%20creating%20an%20unordered%20list,bullets%20in%20an%20unordered%20list.
.no-bullets {
    list-style-type: none;
}

.green-text {
    color: olivedrab;
}

.orange-text {
    color: sandybrown;
}

h3 {
    margin-top: 16px;
}

h2 {
    margin-bottom: 0px;
}

table {
    width: 100%;
}

