<h3>Energy, Momentum and Mass</h3>

<ng-katex-paragraph [paragraph]="paragraph1"></ng-katex-paragraph>




<h3>Units</h3>














<mat-divider></mat-divider>

<h3>Analysis of an Event</h3>





<p>
    The particles in our simulation are traveling in a <strong>magnetic field</strong> that is pointing
    into the page. Using the 'right hand rule', we see that
    <strong>positively charged particles</strong> will follow a <strong>counter-clockwise path</strong> and
    <strong>negatively
        charged</strong>
    particles will follow a <strong>clockwise path</strong>:
</p>
<div class="help-dialog-indent">
    positive charge:
    <span class="svg-icon">
        <app-ccw-icon></app-ccw-icon>
    </span>
    <div class="negative-top-margin">
        negative charge:
        <span class="svg-icon">
            <app-cw-icon></app-cw-icon>
        </span>
    </div>
</div>

<ng-katex [equation]="equation"></ng-katex>
<ng-katex [equation]="pBrEquation"></ng-katex>

<ng-katex-paragraph [paragraph]="paragraph"></ng-katex-paragraph>



