<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs="0px">

    <!-- https://developer.okta.com/blog/2020/01/21/angular-material-login ...to be continued.....-->

    <mat-card class="login-card">
        <h1>Login</h1>
        <!--<mat-card-title class="card-title">Login</mat-card-title>-->
        <mat-card-content>
            <mat-error *ngIf="loginInvalid">
                The username and password were not recognised.
            </mat-error>
            {{signinServerError}}
            <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" class="login-formfield">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" type="text" formControlName="username" required>
                    <mat-error>
                        Please provide a valid email address
                    </mat-error>
                    <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
                    <!--<mat-hint>Hint</mat-hint>-->
                </mat-form-field>

                <mat-form-field type="password" appearance="outline" class="login-formfield">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" formControlName="password" required>
                    <mat-error>
                        Please provide a valid password
                    </mat-error>
                    <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
                    <!--<mat-hint>Hint</mat-hint>-->
                </mat-form-field>
                <!--<mat-divider></mat-divider>-->
                <button mat-button>SUBMIT</button>
            </form>
        </mat-card-content>

        <!--<mat-divider></mat-divider>
        <mat-card-actions>
            <button mat-button>SUBMIT</button>
        </mat-card-actions>-->
    </mat-card>

</div>