.reset-card {
    max-width: 400px;
}

.input-formfield {
    width: 100%;
}

.reset-error-message {
    padding-bottom: 20px;
}

.container {
    width: 100%;
    padding: 100px 10px 100px 10px;
}

.extra-top-margin {
    margin-top: 20px;
}

.error-bottom-margin {
  margin-bottom: 10px;
}

.extra-left-margin {
    margin-left: 10px;
}