.container {
    margin-top: 64px;
}

table {
    width: 100%;
}

.check-icon {
    vertical-align: bottom;
    color: #2E7D32;
    cursor: pointer;
}

.action-icon {
    vertical-align: bottom;
    color: #FFC400;// #01579B;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-bottom: 20px;
}

