.container {
    margin-top: 64px;
}

table {
    width: 100%;
}

.card-title {
    width: 100%;
}

.table-title {
    margin: 10px 0px 10px 10px;
}

.student-data-table-title {
    margin: 20px 0px 0px 10px;
}

.student-data-table-subtitle {
    margin-bottom: 10px;
    margin-left: 10px;
    color: #757575;
}

.extra-top-margin {
    margin-top: 20px;
}
  
.material-icons.icon-align-no-space {
    vertical-align: middle;
    color: #D32F2F;
}

.material-icons.icon-align {
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    color: #D32F2F;
}

.warning-title {
    color: #D32F2F;
}

.warning-list {
    margin-bottom: 5px;
}

.divider-extra-space {
    height: 20px;
}
