<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex.gt-sm="900px">
            <mat-card>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                    <div>
                        <mat-card-header>
                            <mat-card-title>
                                <span [innerHtml]="eventData.event.name+' (actual event was '+revealedEvent+')'"></span>
                            </mat-card-title>
                            <mat-card-subtitle>
                                B = {{eventData.bFieldStrength}} kG ({{eventData.bFieldDirection}})
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                    <div>
                        <button mat-stroked-button (click)="closeAnalysisDisplay()" color="primary">Close</button>
                    </div>
                </div>
                
                <mat-card-content>
                    <div *ngIf="errorMessage" class="error-message">
                        {{errorMessage}}
                    </div>
                    <h1 class="table-title">Event Data</h1>
                    <h3 class="student-data-table-subtitle">...exact data for the underlying event: </h3>
                    <!--<h3 class="student-data-table-title" [innerHTML]="'Actual Event: '+revealedEvent"></h3>-->
                    <div class="mat-elevation-z1">
                        <table mat-table [dataSource]="eventSummaryDataSource">
                            <ng-container matColumnDef="particle">
                                <th mat-header-cell *matHeaderCellDef> Particle </th>
                                <td mat-cell *matCellDef="let element" [innerHTML]="element.name"></td>
                            </ng-container>
                            <ng-container matColumnDef="inOut">
                                <th mat-header-cell *matHeaderCellDef> in/out </th>
                                <td mat-cell *matCellDef="let element">{{element.inout}}</td>
                            </ng-container>
                            <ng-container matColumnDef="xY">
                                <th mat-header-cell *matHeaderCellDef> X/Y? </th>
                                <td mat-cell *matCellDef="let element" [innerHTML]="element.alias"></td>
                            </ng-container>
                            <ng-container matColumnDef="mass">
                                <th mat-header-cell *matHeaderCellDef> Mass (MeV) </th>
                                <td mat-cell *matCellDef="let element">{{element.mass}}</td>
                            </ng-container>
                            <ng-container matColumnDef="theta">
                                <th mat-header-cell *matHeaderCellDef> &theta; (rad)</th>
                                <td mat-cell *matCellDef="let element">{{element.theta | roundReal : numDigits}}</td>
                            </ng-container>
                            <ng-container matColumnDef="momentum">
                                <th mat-header-cell *matHeaderCellDef> p (MeV) </th>
                                <td mat-cell *matCellDef="let element">{{element.pMag | roundReal : numDigits}}</td>
                            </ng-container>
                            <ng-container matColumnDef="px">
                                <th mat-header-cell *matHeaderCellDef> p<sub>x</sub> (MeV)</th>
                                <td mat-cell *matCellDef="let element">{{element.px | roundReal : numDigits}}</td>
                            </ng-container>
                            <ng-container matColumnDef="py">
                                <th mat-header-cell *matHeaderCellDef> p<sub>y</sub> (MeV) </th>
                                <td mat-cell *matCellDef="let element">{{element.py | roundReal : numDigits}}</td>
                            </ng-container>
                            <ng-container matColumnDef="energy">
                                <th mat-header-cell *matHeaderCellDef> E (MeV) </th>
                                <td mat-cell *matCellDef="let element">{{element.energy | roundReal : numDigits}}</td>
                            </ng-container>
                            <ng-container matColumnDef="beta">
                                <th mat-header-cell *matHeaderCellDef> &beta; </th>
                                <td mat-cell *matCellDef="let element">{{element.pMag/element.energy | roundReal : numBetaDigits}}</td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsEventDataSummary"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsEventDataSummary;"></tr>
                        </table>
                    </div>

                    <h1 class="student-data-table-title">Student Data</h1>
                    <h3 *ngIf="errorMessages.length == 0" class="student-data-table-subtitle">...what the student should get (based on their data), assuming all particles are assigned correctly: </h3>
                    <h3 *ngIf="errorMessages.length > 0" class="student-data-table-subtitle">...what the student might get, based on their data.  
                        <span class="warning-title">There were one or more errors in the analysis, so the student's particle assignments may differ from what is shown here. </span></h3>
                    
                    <app-student-data-table [studentData]="studentData"></app-student-data-table>
                    
                    <div class="divider-extra-space"></div>
                    <mat-divider></mat-divider>
                    
                    <div *ngIf="studentIncorrectData.length > 0">
                        <h1 class="student-data-table-title">Student Data using Incorrect Particle Assignments </h1>
                        <h3 class="student-data-table-subtitle">(some of these could be reasonable alternatives to the correct analysis)</h3>
                        <div *ngFor="let possibleAttempt of studentIncorrectData; let i = index">
                            <h3 *ngIf="possibleAttempt.decayTypeIsCorrect" class="student-data-table-subtitle" [class.extra-top-margin]="i>0" [innerHTML]="'Correct event ('+possibleAttempt.name+') but with two same-sign particles interchanged:'"></h3>
                            <h3 *ngIf="!possibleAttempt.decayTypeIsCorrect" class="student-data-table-subtitle" [class.extra-top-margin]="i>0" [innerHTML]="'Incorrect event that does fit the correct pattern ('+possibleAttempt.name+'):'"></h3>
                            <app-student-data-table [studentData]="possibleAttempt.studentData"></app-student-data-table>
                        </div>
                    </div>

                    <div *ngIf="errorMessages.length > 0">
                        <h1 class="student-data-table-title warning-title extra-bottom-margin">
                            <div> Errors/Warnings:</div>
                        </h1>
                        <div *ngFor="let error of errorMessages" class="warning-list">
                            <i class="material-icons icon-align">error_outline</i> {{error}}
                        </div>
                    </div>

                    <div *ngIf="errorMessages.length > 0 && eventsSameSignature">
                        <h1 class="student-data-table-title">Events with this Signature</h1>
                        <div class="extra-left-padding">
                            <p>Here are the events in the database that match the signature for this event (<span [innerHtml]="eventData.event.name"></span>):</p>
                            <ul class="event-list-center no-bullets">
                                <li *ngFor="let eventType of eventsSameSignature.matching_decays">
                                    <span [innerHTML]="eventType.name"></span>
                                    <span *ngIf="eventType.name == revealedEvent"> (correct choice)</span>
                                </li>
                            </ul>
                            <p>The student made one or more mistakes in their analysis, so they may not have chosen the correct event.  The above list may give some other reasonable options.</p>
                        </div>
                    </div>

                </mat-card-content>



            </mat-card>

        </div>
    </div>
</div>