.container {
    margin-top: 64px;
}

table {
    width: 100%;
}

.card-title {
    width: 100%;
}

.table-title {
    margin: 10px 0px 10px 10px;
}

.student-data-table-title {
    margin: 20px 0px 0px 10px;
}

.student-data-table-subtitle {
    margin-bottom: 10px;
    margin-left: 10px;
    color: #757575;
}

.extra-top-margin {
    margin-top: 20px;
}
  
.material-icons.icon-align-no-space {
    vertical-align: middle;
    color: #D32F2F;
}

.material-icons.icon-align {
    vertical-align: middle;
    color: #D32F2F;
}

.warning-title {
    color: #D32F2F;
}

.extra-bottom-margin {
    margin-bottom: 5px;
}

.warning-list {
    margin-bottom: 5px;
    padding-left: 10px;
}

.divider-extra-space {
    height: 20px;
}

.extra-left-padding {
    padding-left: 10px;
}

.evet-list-center {
    //margin-left: 50px;
    text-align: center;
}

//https://www.tutorialspoint.com/How-to-create-an-unordered-list-without-bullets-in-HTML#:~:text=For%20creating%20an%20unordered%20list,bullets%20in%20an%20unordered%20list.
.no-bullets {
    list-style-type: none;
}