<!-- https://github.com/Robinyo/serendipity -->
<app-navigation-bar 
  (toggleSidenav)="navigationSidenav.toggle()"
  (logUserOut)="logout()"
  [isLoggedIn]="isLoggedIn()"
  [currentUser]="currentUser">
</app-navigation-bar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #navigationSidenav class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
    >
    <!--[opened]="(isHandset$ | async) === false"-->
    <mat-toolbar>
      <mat-toolbar-row>
        <h2 class="toolbar-title"> ToolBarTitle </h2>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <!--[routerLink]="[item.route]"-->
      <a mat-list-item 
        (click)="navigationSidenav.close()"
        routerLinkActive="list-item-active"
        href="#">
        Link 1
      </a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  

  <mat-sidenav-content role="main">
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
